<!--cabeçalho (componente header)-->
<app-header></app-header>

<!--corpo do home-->
<main>

<!--Anuncio do produto e imagem-->
    <section class="first-part">
        <div class="headline">
            <span>HelpFlow</span>
            <h1>Seu gestor de Chamados e Atendimentos</h1>
        </div>
        <img ngSrc="/idoso.jpg" width="450" height="480"/>

<!--Descrição do problema-->
    </section>
    <section class="second-part">
        <div class="benefits">
            <h2>
                98% dos usuários
            </h2>
        </div>
        <p>chamam a equipe de TI para resolverem problemas <b>simples e complexos</b> durante o dia a dia do trabalho</p>
    </section>

<!--botão de saiba mais-->
    <section class="cta-section">
        <btn-primary btn-text="Saiba mais"></btn-primary>
    </section>

<!--formulário de contato-->
    <app-form></app-form>

</main>